{% extends 'main/layout.html' %}
{% block title %}
    Просмотр
{% endblock %}
{% block content %}
    {% csrf_token %}
    <button type="submit" class="btn btn-warning"><a href="{{ link }}" class="account">{{ tekst }}</a></button>
    <h1 style="margin-left: 300px;">Здесь вы можете просмотреть рисунки других пользователей.</h1>
    <form class="form-control" style="width: 50%;">
        <div class="features">
            {% for i in check %}
                <h1>Пользователь <span style="font-weight:bold">{{ i.name }}</span> выложил новый рисунок:</h1>
                <img src="data:image/png;base64, {{i.data}}" alt=""  border="1"/><br>
                <h2>{{ i.login }}</h2>
                <p>{{ i.dateandtime }}</p>
            <hr>
            {% endfor %}
        </div>
    </form>
{% endblock %}
